body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 40pt; */
}

select {
    width: 300px;
    /* font-size: 40pt; */
}

.button {
    width: 90%;
    font-size: 24pt;
    margin: 10px;
}

.switch {
    font-size: 16pt;
}

.info {
    font-size: 24pt;
    margin: 20px;
}

.time {
    font-weight: bold;
    color: #80276C;
    font-size: 36pt;
}

.red {
    color: #DA291C;
}

.orange {
    color: #ED8B00;
}

.blue {
    color: #003DA5;
}

.green-b,
.green-c,
.green-d,
.green-e {
    color: #00843D;
}